{% import "scaffolding/list.html" as scaffold with context %}
{% import 'scaffolding/macros.html' as s with context %}
{% extends 'layouts/main.html' %}

{% block layout_head %}
<!-- page specific scripts/css should be added in this block -->
<script type="text/javascript">
        function setApprove(){
            document.getElementById('action').value = "tempapprove";
        }
        function setReject(){
            document.getElementById('action').value = "reject"
        }
        $(document).on("click", ".open-modal", function () {
            var to = $(this).data('to');
            var buyer = $(this).data('buyer');
            var effdate = $(this).data('effdate');
            var subdate = $(this).data('subdate');
            var comments = $(this).data('comments');
            var status = $(this).data('status');
            var keyid = $(this).data('keyid');
            var dept = $(this).data('dept');
            $(".modal-body #to").val(to);
            $(".modal-body #buyer").val(buyer);
            $(".modal-body #effdate").val(effdate);
            $(".modal-body #subdate").val(subdate);
            $(".modal-body #comments").val(comments);
            $(".modal-body #status").val(status);
            $(".modal-body #keyid").val(keyid);
            $(".modal-body #dept").val(dept);
        });
    </script>
{% endblock %}

{% block layout_page_title %}
<!-- page title here -->
Master Cost Change Request List
{% endblock %}

{% block layout_page_buttons %}
 
{% endblock %}

{% block layout_content %}
<fieldset>
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
            {% if cb_order_by=='asc'%}
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_by_asc=True)}}">Created By</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_desc=True)}}">Creation Date</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_status_asc=True)}}">Status</a>
                </th>
            {% elif cb_order_by=='desc'%}
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_by_desc=True)}}">Created By</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_desc=True)}}">Creation Date</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_status_desc=True)}}">Status</a>
                </th>
            {% elif c_order_by=='asc'%}
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_by_asc=True)}}">Created By</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_asc=True)}}">Creation Date</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_status_asc=True)}}">Status</a>
                </th>
             {% elif c_order_by=='desc'%}
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_by_asc=True)}}">Created By</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_desc=True)}}">Creation Date</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_status_asc=True)}}">Status</a>
                </th>
             {% elif status_order_by=='asc'%}
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_by_asc=True)}}">Created By</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_asc=True)}}">Creation Date</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_status_asc=True)}}">Status</a>
                </th>
             {% else %}
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_by_asc=True)}}">Created By</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_created_desc=True)}}">Creation Date</a>
                </th>
                <th>
                    <a href="{{this.uri('changes:list', order_by_status_desc=True)}}">Status</a>
                </th>
                {% endif %}
                <th>For Users</th>
                <th>For Managers</th>
            </tr>
        </thead>
        {% for change in changes %}
        <tr>
            <td>{{change.created_by}}</td>
            <td>{{change.created}}</td>

            {% if int(change.Status) == 1 %}
            <td>Pending Approval</td>
            {% endif %}
            {% if int(change.Status) == 2 %}
            <td>Temporarily Approved</td>
            {% endif %}
            {% if int(change.Status) == 3 %}
            <td>Approved</td>
            {% endif %}
            {% if int(change.Status) == 4 %}
            <td>Rejected</td>
            {% endif %}
            {% if int(change.Status) == 0 %}
            <td>No Action Required</td>
            {% endif %}
            <td>
                <a href="{{this.uri('changes:view', key=change.key.urlsafe())}}" class="btn btn-primary">View</a>
            </td>
            <td>
                {% if is_first_group_approver == 'True' %}
                <a href="#actionModal" role="button" 
                data-to={{change.Merchandise_Manager}}
                data-buyer={{change.Buyer_or_BAA_Name}} 
                data-effdate={{change.Effective_Date}} 
                data-subdate={{change.Submission_Date}} 
                data-comments={{change.Comments}} 
                data-status={{change.Status}}
                data-dept={{change.Department}}  
                data-keyid={{change.key.urlsafe()}}
                class="open-modal btn btn-primary" data-toggle="modal">Approve/Reject</a>
                {% endif %}
                <div id="actionModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 id="myModalLabel">Merchandise Manager's Approval</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="/changes/sendNotif" method="post">
                            <div class="well">
                                <fieldset>
                                    <table align="center">
                                        <tr>
                                            <td>
                                                An e-mail will be sent to the person that completed the 'Masters Cost Change Form' and to the 'Masters Merchandise Support'
                                            </td>
                                            <td>
                                                <input type="submit" onclick="setApprove()" class="btn btn-primary" value="Approve"></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                An e-mail will be sent to the person  that completed the 'Masters Cost Change Form'
                                            </td>
                                            <td>
                                                <input type="submit" onclick="setReject()" class="btn btn-primary" value="Reject  "></td>
                                        </tr>
                                    </table>
                                    <br/>
                                    <div align="left" class="control-group">
                                        <label class="control-label" for="merchManger">Comments:</label>
                                        <div class="controls">
                                            <textarea class="span5" rows="5" name="addcomments" style="resize:none"></textarea>
                                        </div>
                                    </div>
                                    <input type="hidden" id="action" name="action" value="">
                                    <input type="hidden" id="buyer" name="buyer" value="">
                                    <input type="hidden" id="effdate" name="effdate" value="">
                                    <input type="hidden" id="to" name="to" value="">
                                    <input type="hidden" id="subdate" name="subdate" value="">
                                    <input type="hidden" id="comments" name="comments" value="">
                                    <input type="hidden" id="status" name="status" value="">
                                    <input type="hidden" id="dept" name="dept" value="">
                                    <input type="hidden" id="keyid" name="keyid" value=""></fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</fieldset>
{% endblock %}
