{% import "scaffolding/list.html" as scaffold with context %}
{% import 'scaffolding/macros.html' as s with context %}
{% extends 'layouts/main.html' %}

{% block layout_head %}
<!-- page specific scripts/css should be added in this block -->
<script type="text/javascript">
        function setApprove(){
            document.getElementById('action').value = "tempapprove";
        }
        function setReject(){
            document.getElementById('action').value = "reject"
        }
        $(document).on("click", ".open-modal", function () {
            var to = $(this).data('to');
            var buyer = $(this).data('buyer');
            var effdate = $(this).data('effdate');
            var subdate = $(this).data('subdate');
            var comments = $(this).data('comments');
            var status = $(this).data('status');
            var keyid = $(this).data('keyid');
            var dept = $(this).data('dept');
            $(".modal-body #to").val(to);
            $(".modal-body #buyer").val(buyer);
            $(".modal-body #effdate").val(effdate);
            $(".modal-body #subdate").val(subdate);
            $(".modal-body #comments").val(comments);
            $(".modal-body #status").val(status);
            $(".modal-body #keyid").val(keyid);
            $(".modal-body #dept").val(dept);
        });
    </script>
{% endblock %}

{% block layout_page_title %}
<!-- page title here -->
Master Cost Change Request List
{% endblock %}

{% block layout_page_buttons %}

{% endblock %}

{% block layout_content %}

{% endblock %}
