<div class="modal-header">
  <h3 class="modal-title">Buyer's New Line Declaration Request Details</h3>
</div>

<div class="modal-body">
  <fieldset>
    <table class="table table-striped table-condensed">
      <thead>
      </thead>
      <tr ng-if="bnlds_details.status == 'Rejected' || bnlds_details.status == 'Approved'">
        <th>Status:</th>
        <td>
          {{bnlds_details.status}} by {{bnlds_details.modified_by}} on {{bnlds_details.date_modified}}
        </td>
      </tr>

      <tr>
        <th>Buyer:</th>
        <td>{{bnlds_details.Buyer_or_BAA_Name}}</td>
      </tr>
      <tr>
        <th>Merchandise Manager Name:</th>
        <td>{{bnlds_details.Merchandise_Manager}}</td>
      </tr>
      <tr>
        <th>Date:</th>
        <td>{{bnlds_details.Date.month}}/{{bnlds_details.Date.day}}/{{bnlds_details.Date.year}}</td>
      </tr>
      <tr>
        <th>Number of Item(s):</th>
        <td>{{bnlds_details.Number_of_Items}}</td>
      </tr>
      <tr>
        <th>All New Lines Passed Validation:</th>
        <td>{{bnlds_details.All_New_Lines_Passed_Validation}}</td>
      </tr>
      <tr>
        <th>QA Acceptance:</th>
        <td>{{bnlds_details.QA_Acceptance}}</td>
      </tr>
      <tr>
        <th>MSDS Report Loaded onto Chemwatch for all Applicable Lines:</th>
        <td>{{bnlds_details.MSDS_Report_Loaded_onto_Chemwatch_for_all_Applicable_Lines}}</td>
      </tr>
      <tr>
        <th>Comments:</th>
        <td>{{bnlds_details.Include_Any_Comments_Below}}</td>
      </tr>
      <tr>
        <th>Attachments:</th>
        <td></td>
      </tr>
    </table>
    <div align="right">
      <!--{% if intStatus == 1 and is_requestor %}-->
      <!-- {% endif %} -->
      <button class="btn btn-primary btn-sm" ng-click="cancel()">Close</button>
    </div>
  </fieldset>
</div>
