{% import "scaffolding/list.html" as scaffold with context %}
{% import 'scaffolding/macros.html' as s with context %}
{% extends 'layouts/main.html' %}

{% block layout_head %}

{% endblock %}

{% block layout_page_title %}
<!-- page title here -->
{% endblock %}

{% block layout_page_buttons %}

{% endblock %}

{% block layout_content %}
    <div class="form-description fd-form-view" id="form-description">
        <p><i class="icon-pencil"></i>Maintenance request form. Used to capture work requests in a DC. It has urgency levels and can attach additional information.</p>
    </div>
    <div class="well">
        <fieldset>
            <br><br><br><br>
            <center><h3>Form request has been cancelled! Back to <a href="/maintenance_requests?key={{key}}&status={{tab}}">list.</a></h3></center>
        </fieldset>
    </div>
{% endblock %}