{% import "scaffolding/add.html" as scaffold with context %}
{% extends 'layouts/main.html' %}
{% import 'scaffolding/macros.html' as s with context %}

{% block layout_head %}
<!-- page specific scripts/css should be added in this block -->
{% endblock %}


{% block layout_page_title %}
<!-- page title here -->
List of all DC Warehouses Information
{% endblock %}

{% block layout_page_buttons %}
<!-- page specific buttons here, buttons specify here will be added in the btn group -->
{% endblock %}

{% block layout_content %}
    {% set list = scaffolding_plural %}
    <table class='table table-striped table-hover'>
    <thead>
        <tr>
            <th class='span1'>#</th>
                {% for property in scaffolding.display_properties %}
                    <th>{{inflector.humanize(property)}}</th>
                {% endfor %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
            <tr>
                <td class='span1'>
                    <span class='badge' title='{{item.key.urlsafe()}}'>{{item.key.id()}}</span>
                </td>
                {% for property in scaffolding.display_properties %}
                    <td>
                        {{s.print_value(item[property])}}
                    </td>
                {% endfor %}
                <td class='span2'>
                    {% block item_action_buttons scoped %}
                        {{s.action_buttons(item)}}
                    {% endblock %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}